[%# produced by the production script for JSON,XML,PLAIN,PERL %]

[% IF copy %]
<button class="copybanner" onClick="copyToClipboard($('#c-[% unique %]'))"
>COPY</button>
<pre id="c-[% unique %]" style="display: none">[% copy %]</pre>
[% END %]

<div id="[% unique %]-[% format %]" class="codeblock_light"
  data-format="[% format %]">
	[% content %]
</div>
