[%# produced by the production script for JSON,XML,PLAIN,PERL %]

[% IF header %]
<div class="codeblock_light_header">EXAMPLE</div>
[% END %]
[% IF copy %]
<p><button class="copybanner">COPY</button></p>
[% END %]
<div id="[% unique %]-[% format %]" class="codeblock_light"
  data-format="[% format %]">
	[% content %]
</div>
