<div id="content" class="wrap container">

[% FOR section IN sections %]
	<section class="chapter row">
		<div class="section_left col-lg">

[% section.left %]

		</div>
		<div class="section_right col-lg">

[% section.right %]

		</div>
	</section>
[% END %]

</div>

