<footer id="footer_outer">
	<div class="wrap">
		<div id="footer_inner">
	<a href="#" onClick="$('body').scrollTop(0)" style="display:block"><i class="fas fa-caret-up"></i></a>
			<div id="footer_copy">

The "Pipeline" is part of the Skrodon Project, to share infrastructure.

			</div>
		</div>
	</div>
</footer>
